<% provide(:title, 'About') %>





<h1>About Us</h1>

- Eric Ma
<br>
<img src="http://imgur.com/dg3siH7.jpg" alt="Eric's Pic" height="200" width="150">
IT Major at GMU, I deal with a majority of the design and CSS for Gamers Market. I also deal with the initial setup of the Webpage.
<br><br><br>
