

<div class="center hero-unit">

<h1>Games Exchange</h1>
<h2>A place to trade and sell games in the local area</h2>


 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>