<% if @gamefeed_items.any? %>
  <ol class="gameposts">
    <%= render partial: 'shared/gamefeed_item', collection: @gamefeed_items %>
  </ol>
  <%= will_paginate @gamefeed_items %>
<% end %>
 

</div>

