<li>
  <span class="content"><%= game.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(game.created_at) %> ago.
  </span>
  <% if current_user?(game.user) %>
    <%= link_to "delete", game, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: game.content %>
  <% end %>
</li>