  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
        <%= render 'shared/gamepost_form' %>
      </section>
    </aside>
	<div class="span8">
	  <h3>Game Feed</h3>
      <%= render 'shared/gamefeed' %>
	  
    </div>
  </div>
  